---
title: 123
haha: 这里可以随便写
layout: index
---

{% for post in paginator.posts %}
<div id="article">
    <div id="article_img">
        <a href="#" >
                <img id="a0" src="{{post.picture}}">
        </a>
    </div>
    <div id="article_content">
                      <a href="#"><h1>{{post.title}}</h1></a>
	                  <p>{{post.excerpt}}</p>
	         <a id="read" href="{{post.url}}">阅读全文</a>
	    </div>
</div>
{% endfor %}


 <div id="fenye">
 	{% if paginator.previous_page_path %}
            <a href="{{ paginator.previous_page_path }}" class="leftt"><i></i>previous</a>
            {% else %}
            <a href="javascript:void(0)" class="leftt"><i></i>previous</a>
            {% endif %}

    {% if paginator.next_page_path %}
            <a href="{{ paginator.next_page_path }}" class="rightt"><i></i>next</a>
            {% else %}
            <a href="javascript:void(0)" class="rightt"><i></i>next</a>
            {% endif %}
 </div>







<!-- 
<ul>
	{% for post in site.posts %}
	<li>
		<a href="{{post.url}}">{{post.title}}</a>
		<p>{{post.excerpt}}</p>
	</li>
	{% endfor %}

</ul> -->